body {
    background-color: #292F36 !important;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 1.25rem;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    background-color: #292F36;
    z-index: 1000;
    top: 0;
    border-bottom: 1px solid #53575C;
  }

  .navigation-bar.container {
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }


@media (max-width: 576px){
  .suggestion-title {
    font-size: 2rem !important;
  }
}
@media (max-width: 767px) {
  .suggestion-title {
    font-size: 2.5rem !important;
  }
}
