/* Main Section Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}

code, pre, .mono-text {
  font-family: 'IBM Plex Mono', monospace;
}

.main-section {
    padding: 20px;
    background-color: #292F36;
}

.highlight {
    color: #12F7D6;
}

.highlight-2 {
    color: #98FAEC;
}

.fs-32 {
    font-size: 2rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-64 {
    font-size: 4rem;
}
.fs-168 {
    font-size: 10.5rem;
}

.fancy-heading {
  position: relative;
  display: inline-block;       
  color: #12F7D6;            
  font-size: 4rem;            
  padding: 0 0 0.5rem 0;   
  border-bottom: 4px solid #12F7D6; 
  margin: 40px 0;
  overflow: visible;         
}


.fancy-heading::before,
.fancy-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;              
  width: 14px;                 
  height: 14px;
  border-radius: 50%;
  background: #12F7D6;         
  box-shadow: 0 0 0 3px rgba(0,0,0,0); 
}


.fancy-heading::before {
  left: 0;
  transform: translateX(-50%); 
}
.fancy-heading::after {
  right: 0;
  transform: translateX(50%); 
}


.nav-links a:hover,
.nav-icons a:hover {
  color: #12F7D6 !important;
  transition: color 0.5s ease;
}

.main-title {
    font-size: 7.3125rem;
    margin-bottom: 1.25rem;
}

.first-content {
  width: 320px;
  height: 520px;
  border: 4px solid #ffffff;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
  -webkit-box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
  -moz-box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
}

.my-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: #12F7D6 4px solid;
}

.skill-list li {
  background-color: #12F7D6;
  color: #000000;
  padding: 1px 8px;
  border-radius: 12px;
}

.donwloand-btn {
  background-color: #FFFFFF;
  color: #000000;
  padding: 8px 32px;
  border-radius: 2rem;
  border-style: none;
  margin-top: 20px;
  text-align: center;
}

.second-content {
  padding-left: 5rem !important;
}

.email-button {
  background-color: #43454D;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.third-content {
  background-color: #1A1E23;
  border-radius: 5rem;
  padding: 20px;
  
}

/* About me  */

.about-me {
  background-color: #1A1E23;
  background-image: url("../image/about-me-bg.png"); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.about-me-title {
  background-color: #292F36;
  border: 4px solid #12F7D6;
  border-top-left-radius: 46px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 46px;
  margin-bottom: 4rem;
}

.about-me-text {
  background-color: #292F36;
  border-radius: 2.5rem;
}

/* Skills Section */
.skills-section {
  background-color: #292F36;
  background-image: url("../image/skill-bg.png"); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.skill-box {
  background-color: #98FAEC;
  border-radius: 0.5rem;
  border-left: 0.5rem solid #0C73B8;
  color: #292F36; 
}
.column-first {
  margin-right: 64px;
}
.column-second {
  margin-left: 64px;
}

.skill-bg {
  position: relative;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  padding: 4px 8px;
}

.skill-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* Works Section */
.works-section {
  background-color: #1A1E23;
  background-image: url("../image/works-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;    

}