/* Main Section Styles */
html, body {
  height: 100%;
  margin: 0;
  background: #292F36;
  scroll-behavior: smooth; /* smooth scroll uchun */
  position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

code, pre, .mono-text {
  font-family: 'IBM Plex Mono', monospace;
}


.main-section {
  background-color: #292F36;
}

.highlight {
  color: #12F7D6;
}

.highlight-2 {
  color: #98FAEC;
}

.fs-32 {
  font-size: 2rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-64 {
  font-size: 4rem;
}
.fs-168 {
  font-size: 10.5rem;
}

.fancy-heading {
  position: relative;
  display: inline-block;       
  color: #12F7D6;            
  font-size: 4rem;            
  padding: 0 0 0.5rem 0;   
  border-bottom: 4px solid #12F7D6; 
  margin: 40px 0;
  overflow: visible;         
}


.fancy-heading::before,
.fancy-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;              
  width: 14px;                 
  height: 14px;
  border-radius: 50%;
  background: #12F7D6;         
  box-shadow: 0 0 0 3px rgba(0,0,0,0); 
}


.fancy-heading::before {
  left: 0;
  transform: translateX(-50%); 
}
.fancy-heading::after {
  right: 0;
  transform: translateX(50%); 
}

.navigation-icons {
  position: fixed;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  z-index: 500;
  background-color: #1A1E23;
  padding: 8px 12px;
  border-radius: 40px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-icons a {
  color: white;
  text-decoration: none;
  margin: 24px 0;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.navigation-icons i {
  padding: 0.5rem;
  border-radius: 50%;
}

.navigation-icons a.active i {
  background-color: #fff;
  color: #1A1E23; 
}

.nav-links a:hover,
.nav-icons a:hover {
  color: #12F7D6 !important;
  transition: color 0.5s ease;
}

.nav-link.active {
  color: #12f7d6;
}


.main-title {
    font-size: 7.3125rem;
    margin-bottom: 1.25rem;
}

.first-content {
  width: 320px !important;
  height: 520px !important;
  border: 4px solid #ffffff;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
  -webkit-box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
  -moz-box-shadow: -3px -3px 3px 2px rgba(18,247,214,0.77);
}

.my-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: #12F7D6 4px solid;
}

.skill-list li {
  background-color: #12F7D6;
  color: #000000;
  padding: 1px 8px;
  border-radius: 12px;
}

.donwloand-btn {
  background-color: #FFFFFF;
  color: #000000;
  padding: 8px 32px;
  border-radius: 2rem;
  border-style: none;
  margin-top: 20px;
  text-align: center;
}

.email-button {
  background-color: #43454D;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.third-content {
  background-color: #1A1E23;
  border-radius: 5rem; 
}

/* About me  */

.about-me {
  background-color: #1A1E23;
  background-image: url("../image/about-me-bg.png"); 
  background-repeat: no-repeat; 
  background-size: cover;
  
}

.about-me-title {
  background-color: #292F36;
  border: 4px solid #12F7D6;
  border-top-left-radius: 46px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 46px;
  margin-bottom: 4rem;
}

.about-me-text {
  background-color: #292F36;
  border-radius: 2.5rem;
}

/* Skills Section */
.skills-section {
  background-color: #292F36;
  background-image: url("../image/skill-bg.png"); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.skill-box {
  background-color: #98FAEC;
  border-radius: 0.5rem;
  border-left: 0.5rem solid #0C73B8;
  color: #292F36; 
}
.skill-bg {
  position: relative;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  padding: 4px 8px;
}

.skill-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* Works Section */
.works-section {
  background-color: #1A1E23;
  background-image: url("../image/works-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.mySwiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;    

}

/* Blogs section */
.blogs-section {
  background-color: #292F36;
}
.blog-btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  border: 1px solid #12F7D6;
}

/* Contact Section */
.contact-section {
  background-color: #1A1E23;
}

.customized-input {
  border: none;                       
  border-bottom: 2px solid #98FAEC;   
  border-radius: 0;                   
  background-color: transparent;     
  color:#fff;   
  width: 85%;                    
}

.customized-input:focus {
  box-shadow: none;                   
  outline: none;
  border-bottom: 2px solid #98FAEC;   
}

.customized-input::placeholder {
  color: white;                        
  opacity: 1;                         
}

.footer {
  background-color: #1A1E23;
  padding: 0 1rem;
}

.icon i {
  background-color: #98FAEC;
  color: #1A1E23;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

/* Media Query */

/* Phone uchun */
@media (max-width: 576px) { 
  .navigation-bar {
    position: fixed;
    width: 100%;
    background-color: #292F36;
    z-index: 1000;
    top: 0;
    border-bottom: 1px solid #53575C;
  }

  .logo span {
    font-size: 1rem;
  }

  .nav-links li{
    font-size: 1rem;
  }

  .second-content h1 {
    font-size: 2rem;
  }

  .about-me-title {
    font-size: 2rem;
  }

  .skills-header {
    text-align: center;
  }

  .work-section-description {
    text-align: center;
  }

  .blogs-section {
    text-align: center;
  }

  .blog-info {
    text-align: left;
  }

  .blog-btn {
    padding: 1rem;
  }
}


/* Tablet uchun */
@media (min-width: 577px) and (max-width: 767px) {
  .navigation-bar {
    position: fixed;
    width: 100%;
    background-color: #292F36;
    z-index: 1000;
    top: 0;
    border-bottom: 1px solid #53575C;
  }

  .navigation-bar.container {
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo span {
    font-size: 1.25rem;
  }

  .nav-links li{
    font-size: 1rem;
  }

  .second-content h1 {
    font-size: 4rem;
  }

  .blog-img {
    width: 120px;
    height: 120px;
  }
}

/* Katta Tabletlar uchun */
@media (min-width: 768px) and (max-width: 991px) {
  .navigation-bar {
    position: fixed;
    width: 100%;
    background-color: #292F36;
    z-index: 1000;
    top: 0;
    border-bottom: 1px solid #53575C;
  }

  .navigation-bar.container {
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .logo span {
    font-size: 2rem;
  }

  .nav-links li{
    font-size: 1.5rem;
  }

  .second-content h1 {
    font-size: 4rem;
  }
}


/* Desktop uchun */
@media (min-width: 992px) and (max-width: 1199px) {

  .navigation-icons {
  position: fixed;
  top: 50%;
  left: 25px;
  transform: translateY(-30%);
  z-index: 500;
  background-color: #1A1E23;
  padding: 8px 12px;
  border-radius: 40px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .logo span {
    font-size: 2rem;
  }

  .nav-links li{
    font-size: 1.5rem;
  }

  .second-content h1 {
    font-size: 4rem;
  }
}